
<h1 class="page-header">Test backend query</h1>

<div>
    <md-button class="md-raised md-primary" ng-click="loadBigData()">Load Big data (3 seconds)</md-button>
    <div ng-show="showLoader">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <div>
        <span ng-repeat="item in bigData">
            {{ item }}, 
        </span>
    </div>
</div>
<hr>
<div>
    <canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>

<hr>

<md-button class="md-raised md-warn" ng-click="getGraphData()">Change graph</md-button>


