
<h1 class="page-header">LANTIME - Security</h1>

<h3 class="sub-header">Login / Access</h3>

<div>
    <md-checkbox md-no-ink aria-label="Disable Root Login" class="md-primary">
        Disable Root Login
    </md-checkbox>
</div>

<div>
    <md-checkbox md-no-ink aria-label="Allow Network Device Discovery" class="md-primary">
        Allow Network Device Discovery
    </md-checkbox>
</div>

<div>
    <md-button ng-disabled="true" class="md-raised md-primary">Remote access control</md-button>
</div>
<br>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Shell Timeout</label>
        <md-select ng-model="shell_timeout">
          <md-option ng-repeat="item in items" value="{{item}}">
            {{item}}
          </md-option>
        </md-select>
    </md-input-container>
</div>

<div>
    <md-checkbox md-no-ink aria-label="Disable auto refresh on main page" class="md-primary">
        Disable auto refresh on main page
    </md-checkbox>
</div>

<div layout-gt-sm="row">
    <md-button ng-disabled="true" class="md-raised md-primary">Save setting</md-button>
    <md-button class="md-raised" ng-click="showConfirm($event)">Reset Changes</md-button>
    <md-button class="md-raised md-primary">Back</md-button>
</div>
